<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
table, th, td {
  border: 2px solid black;
}
</style>
<body>

	<p>Bookings</p>
	
	<table style="width:50%">
	
		<tr>
			<th>ID</th>
			<th>Start Date</th>
			<th>End Date</th>
			
		</tr>
		
		<tr th:each="bookings : ${adminDto.getAllBookings()}">
				<td th:text="${bookings.getCarId()}"></td>
				<td th:text="${bookings.getStartDate()}"></td>
				<td th:text="${bookings.getEndDate()}"></td>
			</tr>
	
	</table>
	
	<form action="/admin/newcar" method="post">
	
		<input type="text" name="type" placeholder="Car Type"/>
		<input type="number" name="price" placeholder="Car Price"/>
		<input type="hidden" name="active" value="false" />
		<input type="checkbox" name="active" value="true" placeholder="Is active"/>
			
		<input type="submit" value="Create"/>	
			
	</form>



</body>
</html>