<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
table, th, td {
  border: 2px solid black;
}
</style>
<body>

	<p>Check the new car</p>
	
	<table style="width:50%">
	
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th>Price</th>
			<th>Status</th>
			
		</tr>
		
		<tr>
			<td th:text="${editCarDto.getId()}"></td>
			<td th:text="${editCarDto.getType()}"></td>
			<td th:text="${editCarDto.getPrice()}"></td>
			<td th:text="${editCarDto.isActive()}"></td>
		</tr>
	
	</table>

</body>
</html>